{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <title>{% block title %}Σύστημα Διαχείρησης Οικονομικών HUA{% endblock %}</title>
    <link rel="icon" href="https://dit.hua.gr/images/dit/favicon.png">
    {% block head_meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock head_meta %}

    {% block head_css %}
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'css/site.css' %}">

    
    {% endblock head_css %}
</head>

<body>
    <!--Navigation Bar with dropdown menu-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="background-color: #364968;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <div class="img-hover-zoom">
                        <img class="img-responsive" src="{% static "images/logo.png" %}">
                        <img class="img-responsive" src="https://dit.hua.gr/images/dit/dit-logo.png">
                    </div>
                </a>
                <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link"  href="{% url 'home' %}"><i class="bi bi-house"></i> Αρχική<span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="{% url 'newsfeed' %}"><i class="bi bi-megaphone"></i> Ανακοινώσεις</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="{% url 'contact' %}"><i class="bi bi-envelope"></i> Επικοινωνία</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-gear"></i> Υπηρεσίες
                            </a>
                            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                                {% if user.profile.title == 'Μεταπτυχιακός Φοιτητής' %}
                                <a class="dropdown-item" href="{% url 'student_dashboard' %}">Εφαρμογή Φοιτητών</a>
                                {% elif user.profile.title == 'Αναπληρωτής Καθηγητής' %}
                                <a class="dropdown-item" href="{% url 'professor_dashboard' %}">Πίνακας Υπηρεσιών</a>
                                <a class="dropdown-item" href="{% url 'create_funding_request' %}">Νέα Αίτηση Χρηματοδότησης</a>
                                <a class="dropdown-item" href="{% url 'create_speech_request' %}">Νέα Αίτηση Ομιλίας</a>
                                <a class="dropdown-item" href="{% url 'create_travel_request' %}">Νέα Αίτηση Μετακίνησης</a>
                                {% elif user.profile.title == 'Ιδρυματικός Λογαριασμός' %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">Εφαρμογή Γραμματείας</a>
                                {% endif %}
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                    
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            {% if user.is_authenticated %}
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-person-circle"></i> <b>{{user.username}}</b>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-end dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'profile' %}"><i class="bi bi-info-circle"></i> Πληροφορίες Χρήστη</a>
                                <a class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i> Αποσύνδεση</a>
                            </div>
                            {% else %}
                                <a class="dropdown-item" style="color: #EFF0F3;" href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i> Σύνδεση</a>
                            {% endif %}
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <!--Rest of page-->
    <div id="site-wrapper" style="margin-top: 100px;margin-bottom: 100px;">
        {% block content %}
        if you see this, something is wrong!
        {% endblock %}
    </div>


<div class="footer">
    <div class="container">
        <footer class="bg-light text-center text-lg-start">
            
            <div class="text-center p-3" style="background-color: #364968;">
            © 2021 Constantinos Stathopoulos. All Rights Reserved.
            </div>
            
        </footer>
    </div>
</div> 

<!-- optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

<!-- jquery to keep active tab after reloading -->
<script src="{% static 'js/keeptab.js' %}"></script> 



</body>

</html>