{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/tables.css' %}">
<div class="d-flex justify-content-center">
    <div class="card shadow-lg rounded" style="width: 25rem;">
        <div class="card-header">
            <figure class="card-title text-center">
                <h1>Επιτυχία!</h1>
            </figure>
            
        </div>
        <div class="card-body text-center text-light"><p>Το μήνυμα σας απεστάλει επιτυχώς!<br /> θα σας απαντήσουμε το συντομότερο δυνατόν</p></div>
        
    </div>
</div>






{% endblock %}