{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/site.css' %}">
<div class="container">
    <div class="row">
        <figure class="text-center">
            <blockquote class="blockquote">
                <p><h2>Εφαρμογή Μεταπτυχιακού Προγράμματος</h2></p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <h5>Τμήματος Πληροφορικής και Τηλεματικής</cite></h5> 
            </figcaption>
        </figure>
    </div>
    <div class="row">
        <div class="col">
            <img class="img-fluid rounded float-left" src="https://dit.hua.gr/images/dit/msc2.JPG" class="d-block w-100" alt="...">
        </div>
        <div class="col">
            <h4>Καλώς ήλθατε στην σελίδα του Μεταπτυχιακού Προγράμματος Σπουδών του τμήματος Πληροφορικής και Τηλεματικής.</h4>
            <br>
            <p>Εδώ μπορείτε να ενημερώνεστε για πληροφορίες και νέα του ΠΜΣ.</p>
            <br>
            <p>Για προσωποποιημένες πληροφορίες εκπαιδευτικού προσωπικού και φοιτητών και αξιοποίηση των υπηρεσιών, πραγματοποιήστε σύνδεση με τα προσωπικά σας στοιχεία.</p>
        </div>
    </div>
        
        
</div>




{% endblock %}