{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/tables.css' %}">
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 rounded" style="width: 18rem;">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title">Ποσά αιτηθέντων χρημάτων</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-text">Σύνολο: {{ fund_sum }}</h6>
                            <h6 class="card-text">Αποδεκτά: {{ accepted_fund }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 rounded-3" style="width: 18rem;">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title">Αριθμός Αιτήσεων Χρηματοδότησης</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-text">Σύνολο: {{ funding_requests.count }}</h6>
                            <h6 class="card-text">Αποδεκτες: {{ accepted_funding_requests.count }}</h6>
                            <h6 class="card-text">Απορριπτέες: {{ declined_funding_requests.count }}</h6>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 rounded-3" style="width: 18rem;">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title">Αριθμός Αιτήσεων Ομιλίας/Σεμιναρίου</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-text">Σύνολο: {{ speech_requests.count }}</h6>
                            <h6 class="card-text">Αποδεκτες: {{ accepted_speech_requests.count }}</h6>
                            <h6 class="card-text">Απορριπτέες: {{ declined_speech_requests.count }}</h6>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 border rounded-3" style="width: 18rem;">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title">Αριθμός Αιτήσεων Μετακίνησης/Ταξιδιού</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-text">Σύνολο: {{ travel_requests.count }}</h6>
                            <h6 class="card-text">Αποδεκτες: {{ accepted_travel_requests.count }}</h6>
                            <h6 class="card-text">Απορριπτέες: {{ declined_travel_requests.count }}</h6>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>




{% endblock %}