{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/tables.css' %}">
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 rounded" style="width: 18rem;">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Ποσά αιτηθέντων χρημάτων</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="card-text">Σύνολο:</h5>
                            <p class="card-text">{{ fund_sum }}</p>
                            <h5 class="card-text">Αποδεκτά:</h5>
                            <p class="card-text">{{ accepted_fund }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 rounded-3" style="width: 18rem;">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Αριθμός Αιτήσεων Χρηματοδότησης</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="card-text">Σύνολο:</h5>
                            <p class="card-text">{{ funding_requests.count }}</p>
                            <h5 class="card-text">Αποδεκτες:</h5>
                            <p class="card-text">{{ accepted_funding_requests.count }}</p>
                            <h5 class="card-text">Απορριπτέες:</h5>
                            <p class="card-text">{{ declined_funding_requests.count }}</p>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 rounded-3" style="width: 18rem;">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Αριθμός Αιτήσεων Ομιλίας/Σεμιναρίου</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ num_of_speech_requests }}</p>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 border rounded-3" style="width: 18rem;">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Αριθμός Αιτήσεων Μετακίνησης/Ταξιδιού</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ num_of_travel_requests }}</p>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>




{% endblock %}