{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<figure class="text-center">
    <h1 class="h1">Δημιουργία Νέας Αίτησης για Ομιλία/Σεμινάριο</h1>
</figure>

<br /><br />

<div class="container-lg">
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <br>
        <a type="button" class="btn btn-danger" href="{% url 'professor_dashboard' %}">Ακύρωση</a>
        <button type="submit" class="btn btn-secondary">Καταχώρηση</button>
    </form>
</div>




{% endblock %}