{% extends 'base.html' %}

{% block content %}



<figure class="text-center">
    <div>
        <h1>Κεντρική Σελίδα Φοιτητών</h1>
    </div>
</figure>

<div class="container-sm">
    <div class="p-2 flex-shrink-1 bd-highlight">
        <div class="col-sm-6">
            <div class="card card-body">
            <h5>Συνολικές Πληρωμές</h5>
            <hr>
            <!-- {{payments_sum}} -->
            </div>
        </div>
        <div class="col">
            <div class="card card-body">
                <h5>Πληρωμές Φοιτητή</h5>
                <hr>
                <div class="table-responsive">
                    <table class="table table-hover table-responsive-lg">
                        <thead>
                            <tr>
                                <th>Όνομα Δόσης</th>
                                <th>Ημερ/νια Πληρωμής</th>
                                <th>Τράπεζα</th>
                                <th>Αριθμός Συναλαγής</th>
                                <th>Αρχείο</th>
                                <th>Κατάσταση</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in student_payments%}
                            <tr>
                                <td>{{payment.installment}}</td>
                                <td>{{payment.date}}</td>
                                <td>{{payment.bank}}</td>
                                <td>{{payment.transaction_number}}</td>
                                <td><a href="{{payment.document.url}}" target="_blank">Προβολή</a></td>
                                <td>{{payment.status}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card card-body">
            <h5>Δόσεις Προγράμματος Φοίτησης</h5>
            <hr>
                <a class="btn btn-primary btn-sm btn-block" href="">Make a payment</a>
                <table class="table table-hover table-striped table-responsive-lg">
                    <tr>
                        <th>Όνομα Δόσης</th>
                        <th>Ποσό Δόσης</th>
                        <th>Πληρωμή έως</th>
                    </tr>

                    {% for installment in all_installments%}
                    <tr>
                        <td>{{installment.name}}</td>
                        <td>{{installment.amount}}</td>
                        <td>{{installment.due_date}}</td>
                        <td><a class="btn btn-secondary btn-sm btn-block" href="{% url 'pay_installment' installment.id %}">Pay</a></td>
                    </tr>

                    {% endfor %}


                </table>
            </div>
        </div>
    </div>
</div>











{% endblock %}