{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/tables.css' %}">
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 rounded-3" style="width: 26rem;">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title">Σύνολο Πληρωμών</h5>
                        </div>
                        <hr>
                        <div class="card-body">
                            {% if postgrad_price == None and not student_payments %}
                            <h5 class="card-text">Δεν υπάρχει ενεργό πρόγραμμα σπουδών. Επικοινωνήστε με τη Γραμματεία.</h5>
                            {% else %}
                            <h5 class="card-text">Συνολικό Ποσό Προγράμματος: {{ postgrad_price }}€</h5>
                                {% if accepted_student_payments_sum == postgrad_price %}
                                <h5 class="card-text">Ποσό που έχει καταβληθεί: {{ accepted_student_payments_sum }}€</h5>
                                <h5 class="card-text">Το πρόγραμμα σπουδών σας έχει αποπληρωθεί!</h5>
                                {% elif accepted_student_payments_sum %}
                                <h5 class="card-text">Ποσό που έχει καταβληθεί: {{ accepted_student_payments_sum }}€</h5>
                                {% else %}
                                <h5 class="card-text">Ποσό που έχει καταβληθεί: 0€</h5>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3 rounded-3" style="width: 26rem;">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title">Κατάσταση Πληρωμών</h5>
                        </div>
                        <hr>
                        <div class="card-body">
                            <h5 class="card-text">Σύνολο: {{ student_payments.count }}</h5>
                            <h5 class="card-text">Αποδεκτες: {{ accepted_student_payments.count }}</h5>
                            <h5 class="card-text">Απορριπτέες: {{ declined_student_payments.count }}</h5>
                            <h5 class="card-text">Υπο Έλεγχο: {{ pending_student_payments.count }}</h5>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>

{% endblock %}