{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card" style="width: 25rem;">
        <div class="card-header">
            <figure class="text-center">
                <h1>Στοιχεία Χρήστη</h1>
            </figure>
            
        </div>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="bi bi-file-earmark-person-fill"></i>Όνομα χρήστη: {{ user }}</li>
            <li class="list-group-item"><i class="bi bi-building"></i>Τμήμα: {{user.profile.department}}</li>
            <li class="list-group-item"><i class="bi bi-info"></i>Ιδιότητα: {{ user.profile.title }}</li>
            <li class="list-group-item"><i class="bi bi-info"></i>Όνομα: {{user.first_name}}</li>
            <li class="list-group-item"><i class="bi bi-info"></i>Επίθετο: {{user.last_name}}</li>
            <li class="list-group-item"><i class="bi bi-at"></i>Email: {{user.email}}</li>
        </ul>
        
    </div>
</div>



{% endblock %}