button.active.nav-link{
    background-color: #364968!important;
    color: white!important
}
button.nav-link:hover{
    background-color:#546581 !important;
    color: white!important
}

.filterform {
    color: white;
}