
/*Κολπο για να μην αφήνει κενά πανω και στα πλάγια*/
body {
    margin: 0;
    padding: 0;
    padding-top: 70px;
}

.header {
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #364968;
  color: white;
  text-align: center;
}

.navbar-nav .nav-link  {
    color: white;
}

li a:hover {
  background-color: #4875af;
  margin: auto;
}

/*for burger icon*/
.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.nav-item > a:hover {
  background-color: #7598c7;
  color: black;
  font-weight: bold;
}

.dropdown-menu > a:hover {
  background-color: #e4e6eb;
}
/*.active {
  background-color: #4CAF50;
}*/

